
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Orbitron:wght@400..900&family=Pixelify+Sans:wght@400..700&display=swap');
@import "tailwindcss";

:root {
    --white-eko0: #F4F4F4;
    --title-green-eko0: #7EDD79;
    --subtitle-green-eko0-01: #15BC55;
    --subtitle-green-eko0-02: #209B62;
    --text: #00512E;
    --black-eko0: #232323;
}

*{
    margin: 0px;
   
}
a{
text-decoration: none;
}
body{
    height: 100vh;

}
img {
display: block;

}
.page{
    position: relative;
    overflow-x: hidden;
    height: 100vh;
   background-color: #060606;
   color: #ffffff;
  
}