
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Pixelify+Sans:wght@400..700&display=swap');@import "tailwindcss";
@font-face {
  font-family: "Aeros";
  src: url("/src/assets/fonts/aeros.ttf") format("truetype");
}
@font-face {
  font-family: "IntraNet";
  src: url("/src/assets/fonts/IntraNet.otf") format("truetype");
}
@font-face {
  font-family: "Prolinea Demo";
  src: url("/src/assets/fonts/ProlineaDemo-ExtraBlack-BF68cf609b8c28a.ttf") format("truetype");
}

*{
    margin: 0px;
   
}
a{
text-decoration: none;
}
body{
    height: 100vh;

}
img {
display: block;

}
.page{
    position: relative;
    overflow-x: hidden;
    height: 100vh;
   background-color: #060606;
   color: #ffffff;
  
}