@import url("https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Pixelify+Sans:wght@400..700&display=swap");
@import "tailwindcss";
@font-face {
  font-family: "Aeros";
  src: url("/src/assets/fonts/aeros.ttf") format("truetype");
}
@font-face {
  font-family: "IntraNet";
  src: url("/src/assets/fonts/IntraNet.otf") format("truetype");
}
@font-face {
  font-family: "Prolinea Demo";
  src: url("/src/assets/fonts/ProlineaDemo-ExtraBlack-BF68cf609b8c28a.ttf")
    format("truetype");
}

* {
  margin: 0px;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  height: 100vh;
}
img {
  display: block;
}
.page {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  background-color: #060606;
  color: #ffffff;
  scroll-behavior: smooth;
}
@media (max-width: 1440px) {
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45vh;
    gap: 5vh;
  }
  .info .text {
    color: #b0fd64;
    text-align: center;
    font-family: IntraNet;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.76px;
  }
  .chiffre {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-family: Aeros;
    font-size: 15px;
    font-weight: 400;
  }
  .pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    gap: 10px;
  }
  .arrowe {
    height: 23px;
  }
  .pdf .arrowe {
    transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    z-index: 100;
  }
  .pdf:hover .arrowe {
    transform: rotate(90deg);
  }
  .pdf:hover {
    gap: 30px;
  }
  .all {
    display: none;
  }
  .viewport {
    display: none;
  }
}
