.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.page-title {
    height: 100px;
}

.title-about {
    font-family: Pixelify Sans;
    font-size: 85px;
    color: var(--subtitle-green-eko0-01);
    margin-left: 40px;
    margin-top: 90px;
}

.about-me {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 30px;
    margin-left: 118px;
    margin-bottom: 170px;

}

.description-about {
    font-family: k2d;
    color: var(--text);
    font-size: 20px;
    margin-right: 350px;
}

.logs,
.contact {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.logiciel,
.contact-me {
    font-family: Orbitron;
    font-size: 32px;
    color: var(--subtitle-green-eko0-02);
}

.icons {
    display: flex;
    gap: 10px;
    margin-left: 55px;
}

.cv {
    display: flex;
    font-family: orbitron;
    font-size: 32px;
    color: var(--subtitle-green-eko0-02);
    gap: 10px;
}

.eko {

    height: 720px;
    position: absolute;
    right: -160px;
    margin-top: 80px;
    z-index: 1;
}

/* footer */
.footer {
    display: flex;
    flex-direction: column;


}

.eko0-footer {
    height: 100px;
    margin-bottom: 130px;
    margin-top: 130px;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 20px;

}

.icon-footer {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
}

.vertical-separation {
    height: 38px;
    width: 2px;
    background-color: var(--subtitle-green-eko0-02);
}

.contact-footer {
    display: flex;
    gap: 6px;
}

.footer-icon {
    height: 31px;
}

.page-footer {
    font-family: orbitron;
    color: var(--subtitle-green-eko0-02);
    font-size: 24px;
    display: flex;
    gap: 60px;
}

.copirite {
    color: var(--subtitle-green-eko0-02);
    font-family: k2d;
    font-size: 24px;
}

/* nav */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
    position: fixed;
    background-color: rgba(244, 244, 244, 0.6);
    backdrop-filter: blur(5px);
    z-index: 20px;
}

.nav-icons {
    display: flex;
    gap: 33px;
}

.pages-nav {
    font-family: orbitron;
    color: var(--subtitle-green-eko0-02);
    font-size: 24px;
    display: flex;
    gap: 60px;
}

.menu {
    height: 25px;
}

/* projects */
.list-type-projects {
    display: flex;
    flex-direction: column;
    gap: 115px;
    padding: 120px 125px;

}

.type-projects {
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-family: pixelify sans;
    font-size: 64px;
    color: var(--subtitle-green-eko0-01);
}