  /* title */
h1{
    color: #FCFDFF;
text-align: center;
font-family: "Prolinea Demo";
font-size: 200px;
font-weight: 950;
}
.name{
    color: #B0FD64;
text-align: center;
font-family: Aeros;
font-size: 30px;
font-weight: 400;

}
.title{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}
/* about */
.shape{ 
    background-color: rgba(255, 255,255, 0.25);
    position: relative;
    margin-left: 90px;
    margin-right:750px;
 border-radius: 0 0 0 120px;

}
.shape::after{
    content:"";
position: absolute;
background-color: rgba(255, 255,255, 0.25);
height: 150px;
width: 100px;
top: -150px;
left: 0;
 border-radius: 120px 120px 0 0;
}
.shape::before{
    content:"";
position: absolute;
background-color: rgba(255, 255,255, 0.25);
height: 150px;
top: -150px;
left: 800px;
right:-710px;
border-radius:  120px 120px 120px 0 ;
}
.rectangles::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255,255, 0.25);
    height: 200px;
    width: 710px;
    bottom:0px;
 right: -710px;
border-radius: 0  120px 0 0;
}
.rectangles::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255,255, 0.25);
    height: 388px;
    width:200px;
    top:0;
  right: -200px;
border-radius:  0 0 120px 0 ;
}
.rectangle::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255,255, 0.25);
    height: 220px;
    bottom:-220px;
    left: 600px;
 right: -710px;
border-radius: 0  0 120px 120px  ;
}

.triangles-01::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 100px;
  top: -60px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-01::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 100px;
  top: -120px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

}

.triangles-02::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  left: 740px;
  top: -60px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-02::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  left: 680px;
  top: -120px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

}
.triangles-03::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  right: -280px;
  top: 0px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-03::after{
  content: "";
  position: absolute;
  width: 160px;
  height: 160px;
  right: -360px;
  top: 0px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

}
.triangles-04::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: -60px;
  top: 388px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-04::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  right: -120px;
  top: 387px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

}
.triangles-05::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  right: -60px;
  bottom: 200px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-05::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  right: -120px;
bottom: 200px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

} 
.triangles-06::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
left: 540px;
  top: 952px;
  background-color: rgba(255, 255,255, 0.25);
  z-index: 0;

}
.triangles-06::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
left:480px;
  top: 952px;
  background-color: #000000;
  border-radius: 500px;
  z-index: 1;

} 
.about-title-section{
display: flex;
justify-content: space-between;
align-items: flex-end;
 margin-left: 240px;
  margin-top: 30vh;
  margin-bottom: 2vh;
  margin-right: 130px;
}
.about-title{
    color: #B0FD64;
text-align: center;
font-family: IntraNet;
font-size: 75px;
font-weight: 500;
letter-spacing: 12px;
z-index: 2;
}
.arrow-icon{
   display: flex;
align-items: center;
gap: 7px; 
}
.eko0-img{
    position: absolute;
    height: 1000px;
    right: -30px;
    top: 135vh;
    z-index: 20;  
    transition: all 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    

}
.eko0-img:hover{
  transform: rotateY(15deg);
  
}
.cv{
    display: flex;
padding: 8px 0;
align-items:center;
justify-content: end;
gap: 25px;
color: #B0FD64;
font-family: Aeros;
font-size: 40px;
font-weight: 400;
margin-top: 90px;
margin-right: 50px;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
.about-text{
    color: #FFF;
font-family: K2D;
font-size: 24px;
font-weight: 400;
padding-left: 80px;
padding-top: 100px;
width: 700px;

}
.soft{
  color: #B0FD64;
font-family: Aeros;
font-size: 36px;
font-weight: 400;
}
.softs{
  display: flex;
width: 753px;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-top: 180px;
margin-left: 80px;
padding-bottom: 50px;
}
.soft-icon{
  display: flex;
padding-left: 50px;
justify-content: space-between;
align-items: flex-start;
gap: 8px;

}
.soft-icon svg{
  transition: all 0.25s ease-out;}
.soft-icon svg:hover {
margin-top: -10px;
border-radius: 25px;

}
.contact{
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
margin-left: 800px;
}
.contact-me{
color: #B0FD64;
font-family: Aeros;
font-size: 36px;
font-weight: 400;
}
.contact-icon{
  display: inline-flex;
padding-left: 50px;
align-items: center;
gap: 24px;
z-index: 100;
}
.contact-icon svg{
  transition: all 0.25s ease-out;
}
.contact-icon svg:hover {
margin-top: -20px;

}

/* see projects */
.see-projects{
  color: #B0FD64;
font-family: IntraNet;
text-align: center;
font-size: 75px;
font-weight: 500;
letter-spacing: 12px;
margin-top: 60vh;
margin-bottom: 45vh;
display: flex;
gap: 50px ;
justify-content:center;
align-items: center;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
} 
.arrow{
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 100;
}
.arrow:hover{
transform: rotate(90deg);
}
.cv .arrow{
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 100;
}
.cv:hover .arrow{
transform: rotate(90deg);
}
.cv:hover {
gap: 50px
}
.see-projects .arrow{
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
  z-index: 100;
}
.see-projects:hover .arrow{
transform: rotate(90deg);
}
.see-projects:hover{
gap: 100px
}