.back2 {
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  padding: 13px 21px;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 40px;
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-out;
  position: sticky;
  top: 20px;
  top: 50px;
  left: 50px;
}
.back2:hover {
  box-shadow: 0 10px 35px 0 rgba(255, 255, 255, 0.25) inset;
  scale: 1.1;
}
.title-page-pro {
  display: flex;
  width: 964px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.title-pro {
  color: #fcfdff;
  font-family: "Prolinea Demo";
  font-size: 100px;
  font-weight: 950;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-left: 100px;
}
.subtitle-pro {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 48px;
  font-weight: 400;
  margin-left: 100px;
}
.cover-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  color: #b0fd64;
  text-align: right;
  font-family: K2D;
  font-size: 26px;
  font-weight: 400;
  height: 100vh;
  width: 100vw;
  aspect-ratio: 535/301;
  margin-bottom: 100px;
}
.context-section {
  color: #fff;
  font-family: K2D;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 700px;
  align-content: end;
  margin-left: 100px;
  margin-top: 200px;
}
.context-section p {
  margin-left: 150px;
}
.context-title {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 38px;
  font-weight: 200;
}
.final-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 300px;
}
.final-title {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 38px;
  font-weight: 200;
}
.sketch-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 200px;
}
.sketch-title {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 38px;
  font-weight: 200;
}
.moodbaord-section {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 250px;
}
.moodbaord-section img {
  margin-left: 200px;
  border-radius: 20px;
}
.moodbaord-title {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 38px;
  font-weight: 200;
}
.next-p {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 35px;
  font-weight: 300;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 40px;
  margin-right: 100px;
  margin-top: 100px;
  margin-bottom: 200px;
  transition: all 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.next-p:hover .arrow {
  transform: rotate(90deg);
}
.next-p:hover {
  gap: 80px;
}
/* Habit Tracking */
.fin-pro-sec {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.habit-1 {
  width: calc(25vw - 70px);
  aspect-ratio: 340.05/969.09;
  border-radius: 10px;
}
.habit-2 {
  width: calc(25vw - 70px);
  aspect-ratio: 358.28/1373.87;
  border-radius: 10px;
}
.habit-3 {
  width: calc(25vw - 70px);
  aspect-ratio: 358.28/769.44;
  border-radius: 10px;
}
.habit-4 {
  width: calc(25vw - 70px);
  aspect-ratio: 358.28/1080.32;
  border-radius: 10px;
}
/* Nela */

.nela-1 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/1112.89;
  border-radius: 10px;
}
.nela-2 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/959.43;
  border-radius: 10px;
}
.nela-3 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/959.43;
  border-radius: 10px;
}
.nela-4 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/794.6;
  border-radius: 10px;
}
.nela-5 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/1256.69;
  border-radius: 10px;
}
.nela-6 {
  width: calc(16vw - 43px);
  aspect-ratio: 244.4/1036.16;
  border-radius: 10px;
}
.nela-sketch {
  border-radius: 15px;
}
.nela-vid {
  display: block;
  margin-top: 60px;
  width: 35vw;
  margin-left: 600px;
  aspect-ratio: 125/222;
}
.nela-gif-section {
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 50px;
}
.nela-gif-section img {
  height: calc(30vw - 60px);
}
.gif-1-nela {
  margin-left: -100px;
}
.gif-3-nela {
  height: calc(37vw - 60px);
  width: calc(63vw - 60px);
}
