.back-2 {
  background-color: rgba(255, 255, 255, 0.25);
  display: inline-flex;
  padding: 13px 21px;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 40px;
  z-index: 100;
  backdrop-filter: blur(3px);
  transition: all 0.25s ease-out;
  position: sticky;
}
.back-2:hover {
  box-shadow: 0 10px 35px 0 rgba(255, 255, 255, 0.25) inset;
  scale: 1.1;
}
.title-page-pro {
  display: flex;
  width: 964px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
}
.title-pro {
  color: #fcfdff;
  font-family: "Prolinea Demo";
  font-size: 100px;
  font-weight: 950;
  letter-spacing: 2px;
  margin-top: 50px;
  margin-left: 100px;
}
.subtitle-pro {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 48px;
  font-weight: 400;
  margin-left: 100px;
}
.cover-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  color: #b0fd64;
  text-align: right;
  font-family: K2D;
  font-size: 26px;
  font-weight: 400;
  aspect-ratio: 535/301;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 150px;
}
.context-section {
  color: #fff;
  font-family: K2D;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 100px;
  width: 700px;
  margin-top: 200px;
  margin-bottom: 200px;
}
.context-section p {
  margin-left: 150px;
}
.context-title {
  color: #b0fd64;
  font-family: Aeros;
  font-size: 38px;
  font-weight: 200;
}
/* Habit Tracking */
