.viewport{
height: 100vh;
width: 100vw;
overflow: hidden;
}
.back{
background-color: rgba(255, 255, 255, 0.25);
display: inline-flex;
padding: 13px 21px;
align-items: center;
aspect-ratio: 1/1;
border-radius: 40px;
position: fixed;
z-index: 100;
top: 5vh;
left: 5vh;
     transition: all 0.25s ease-out;
}
.back:hover{
box-shadow: 0 10px 35px 0 rgba(255, 255, 255, 0.25) inset;
scale: 1.1;
}
.back-arrow{
height: 40px;
}
.scroll{
    height: 100vh;
    overflow: hidden;
}
.nav{
    margin-top: 30vh;
    margin-bottom: 30vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
}
.section{
    color: #B0FD64;
font-family: "Pixelify Sans";
font-size: 35px;
font-weight: 400;
display: flex;
padding: 5px 0;
align-items: center;
gap: 20px;
height: 45px;
}
.category{
    display: flex;
    gap: 25px;
      transition: all 0.25s ease-out;
}
.section:hover .category{
     gap: 50px;
}