.viewport{
height: 100vh;
width: 100vw;
overflow: hidden;
}
.back{
background-color: rgba(255, 255, 255, 0.25);
display: inline-flex;
padding: 23px 31px;
align-items: center;
aspect-ratio: 1/1;
border-radius: 50px;
position: fixed;
z-index: 100;
top: 5vh;
left: 5vh;
}
.back-arrow{
height: 57.967px;
}
.scroll{
    height: 100vh;
    overflow: hidden;
}
.nav{
    margin-top: 30vh;
    margin-bottom: 30vh;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 55vh;
}
.section{
    color: #B0FD64;
font-family: "Pixelify Sans";
font-size: 42px;
font-weight: 400;
display: flex;
padding: 5px 0;
align-items: center;
gap: 30px;
}
.category{
    display: flex;
    gap: 25px;
}