---
import "../styles/global.css"
import "../styles/all/_first.css"
import "../styles/all/_home.css"

---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Eko0 Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>